h2{
    font-size: 1.2rem;
}

[class^="col"]{
    /* height: 50px; */

    background-color: #006cfa;
    color: white;
    border: 1px solid white;
    padding: 1rem;
    text-align: center;
}

[class^="col"] .row{
    /* width: 100%; */
    margin-bottom: 0;
}

.row{
    margin-bottom: 1rem;
}

.alignment .row{
    margin-bottom: 0;
}

[class^="col"] [class^="col"]{
    /* height: 30px; */
    background-color: #00e165;
    border: 1px solid #006cfa;
}

.taller{
    height: 100px;
}
